DATABASE_URL="postgresql://usuario:senha@localhost:5432/restaurante_pdv?schema=public"
JWT_SECRET=troque_este_segredo_em_producao
JWT_EXPIRES_IN=8h
PORT=4000
LICENSE_SECRET=troque_licenca_em_producao
CENTRAL_URL=http://localhost:4000
